<html>
    <head>
        <title>Marks Website</title>
        <link rel="stylesheet" type="text/css" href="css/stylesheet.css">
    </head>

    <body>
        <div id="navbar">
            <a href="index.html">Home</a>
            <a class="active" href="#contact">Contact</a>
            <a href="about.html">About</a>
        </div>

        <div id="main_content_area">
            <!--main body-->
        </div>

        <div get-external-html="footer.html" id="footer" class="bottom_right_footer"></div>
    </body>
</html>