<html>
    <head>
        <title>Marks Website</title>
        <link rel="stylesheet" type="text/css" href="css/stylesheet.css">
        <script src="js/includehtml.js"></script>
    </head>

    <body onload="includeHTML()">
        <div id="navbar">
            <a class="active" href="#home">Home</a>
            <a href="contact.html">Contact</a>
            <a href="about.html">About</a>
        </div>

        <div id="main_content_area">
            <img id="mugshot" src="images/me.jpg" >
        </div>

        <div get-external-html="footer.html" id="footer" class="bottom_right_footer"></div>
    </body>
</html>