body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#navbar {
  overflow: hidden;
  background-color: #585858;
  margin-right: 150px;
}

#navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #D5D5D4;
  color: black;
}

#navbar a.active {
  background-color: #FFC552;
  color: black;
}

#sidenavbar_me_icon {
  float: center;
  max-width: 100%;
  height: auto;
  padding: 5px;
}

#sidenavbar {
  height: 100%;
  width: 150px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #585858;
  overflow-x: hidden;
}

#sidenavbar a {
  padding: 10px;
  text-decoration: none;
  font-size: 17px;
  color: #f2f2f2;
  display: block;
}

#sidenavbar a:hover {
    background-color: #D5D5D4;
    color: black;
}

#main_content_area {
    margin-left: 10px;
}

#footer {
  padding: 10px;
  font-style: italic;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
}

#footer_me {
  max-height: 12px;
  width: auto;
}